# Predicting Wine Quality

## Physico-chemical properties that affect the quality of red and white variants of the "Vinho Verde" wine

Samples of red and white variants of the _Vinho Verde_ wine was rated for quality by wine experts through different physicochemical tests. This data is sourced from [UCI](https://archive.ics.uci.edu/ml/datasets/Wine+Quality)

Vinho Verde is an affordable, fizzy wine that's great for the summer. There are red and white variants of this wine. Yes, it is cheap, but perhaps one variant is of higher quality and will give you a semblance of fine dining for the days when you feel like a character in a James Bond movie?

This analysis will use the available data to predict which variant is associated with higher quality by answering the following questions:
* What properties are most important in predicting the quality of wine?
* Do wines with higher alcohol receive better ratings?
* Do sweeter wines have better quality ratings?
* Is acidity level associated with quality?

In [18]:
import pandas as pd
%matplotlib inline

# import local files with r, then the complete filepath in ''
# take note of seperators -- it is not always a comma!
# df_red is the dataframe containing the red wine dataset

df_red = pd.read_csv(r'C:\Users\itunu\Jupyter notebooks\WineQuality Dataset\winequality-red.csv', sep = ';')
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [19]:
# df_white is the dataframe containing the white wine dataset

df_white = pd.read_csv(r'C:\Users\itunu\Jupyter notebooks\WineQuality Dataset\winequality-white.csv', sep = ';')
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

Both datasets were wrangled to know its **dimensions**, check for **unique** values, and errors such as **null** values, inconsistent **data types**, and **duplicate** rows.
*NB: The number of rows is the number of **observations** and the number of columns is the number of **variables***
First, the red wine dataset

In [22]:
# dimensions, datatypes, null values in red wine dataset
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [29]:
# Duplicates in red wine dataset

dup = sum(df_red.duplicated())
print('There are', dup, 'duplicate rows in the red wine dataset')

There are 240 duplicate rows in the red wine dataset

In [31]:
# Unique quality ratings in the red wine dataset

unq = df_red['quality'].nunique()
print('There are', unq, 'unique ratings in the red wine dataset')

There are 6 unique ratings in the red wine dataset

Second, the white wine dataset

In [23]:
# dimensions, datatypes, null values in white wine dataset
df_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [30]:
# Duplicates in white wine dataset

dup = sum(df_white.duplicated())
print('There are', dup, 'duplicate rows in the white wine dataset')

There are 937 duplicate rows in the white wine dataset

In [32]:
# Unique quality ratings in the white wine dataset

unq = df_white['quality'].nunique()
print('There are', unq, 'unique ratings in the white wine dataset')

There are 7 unique ratings in the white wine dataset

While there are duplicates in both datasets, they may not need to be removed due to context. These are values gotten from samples and some samples might have similar readings.
The two datasets have the same number of columns and can be combined into one dataframe without creating null values. This new dataframe will have a new column for the wine variant (red or white).
The *numpy* package will also need to be imported

In [33]:
# import numpy
import numpy as np

# create color array for red dataframe for all 1599 observations
color_red = np.repeat('red', 1599)

# create color array for white dataframe
color_white = np.repeat('white', 4898)

In [40]:
# add array to the red wine dataframe under the column 'color'
df_red['color'] = color_red
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [42]:
# add aray to the white wine dataframe under the same column 'color'
df_white['color'] = color_white
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [47]:
# Create a new dataframe with both existing ones
wine_df = df_red.append(df_white, ignore_index=True, sort=True)
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   alcohol               6497 non-null   float64
 1   chlorides             6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   color                 6497 non-null   object
 4   density               6497 non-null   float64
 5   fixed acidity         6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   pH                    6497 non-null   float64
 8   quality               6497 non-null   int64
 9   residual sugar        6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  total sulfur dioxide  6497 non-null   float64
 12  volatile acidity      6497 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

We can save this new dataframe as a shareable CSV file so that others can use the merged file directly.

In [44]:
# save the dataframe
wine_df.to_csv('winequality_merged.csv', index=False)